<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h1>{{restaurant.name}}</h1>

<form action='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id= menuitem.id) }}' method="POST">
    <div><label>Name: </label><input disabled type='text' value="{{menuitem.name}}" name='name'></input></div>
    <div><label>Course: </label><input disabled type='text' value="{{menuitem.course}}" name='course'></input></div>
    <div><label>Description: </label><input disabled type='text' value="{{menuitem.description}}" name='description'></input></div>
    <div><label>Price: </label><input disabled type='text' value="{{menuitem.price}}" name='price'></input></div>
    <h3>You confirm delete?</h3>
    <input type='submit' value='Yes'></input>
</form>

</body>
</html>